{% extends 'main/base_layout.html' %}
{% block content %}

<h1 class="page_title">About</h1>
<div class="about-container"> 
    <div class="about"> 
        <h3	> Hi  {% if user.is_authenticated %}{{user.username|title}} 
            {% endif %}! So Glad You're Here. </h3>
            <br>
            
        <p>
            
            Apjot is a blog that takes an introspective look into our modern society with focus on self growth.
            <br><br> ​ 
            My writings are driven by my curiosity and not a certainty of truth.
            It is my belief that the truth is one we can never know for sure but we can get closer to by constantly filtering our known truths through a series of logical arguments .
            Our brain remain our most valuable tool of asserting what we would consider as true and with time and more information our views change.   ​​
            <br>
            <br>
            Apjot stands as a tangible product  of all my  mental dialogues <br>
            My views and yours may or may not align at all times but by sharing and understanding each others point of view, we  get closer to the Truth. 
           
         <br>
         <br>
         Welcome to this public journal of thoughts    
        Where every thought counts and is worth sharing!</p>
            <br>
        <p class="contact">Email:  <a href="mailto:nelsonfai21@yahoo.com">nelsonfai21@yahoo.com</a> </p>
    </div>
    
    
</div>
 

<div class="wordart">   <img src="../static/wordart.png" alt="wordart" width="100%">
      

</div>
<p class="tagline"> <strong> Self-growth through Self-Exploration</strong> </p>
<style> 
.page_title{
    
    text-align: center;
    padding: 2%;
    margin-bottom: 10px;
    font-size: calc(30px + 3vw);  

    
}
.recent_posts{
    display:none;
}
.about-container{
    display: flex;
    width:80%;
    padding:3%;

    margin:auto;
    justify-items:center;
    font-family: 'Open Sans', sans-serif;

}
.about{ 
text-align: center;
    line-height:25px; 
  
}
.about-image{
    width:35%;
    
}

#welcome{
    margin-top: 3%;
    text-align: center;
    font-family: 'Open Sans', sans-serif;
}
.wordart{
    width:55%;
    margin:auto;
    text-align: center;
    font-family: 'Shadows Into Light', cursive;
    letter-spacing: 2px;
    margin-top:20px;
}

    
@media  screen and (max-width: 900px) {
  .about-container{
    display: block;
    box-shadow: none   
}
.about{
    width:90%;
    margin:auto;
    margin-top:10px;
}
.about-image{
    width:70%;
    margin:auto;
    margin-bottom: 10px;
    
}
.about-image img{
width: 100%;
}
}
</style>

{% endblock %}
