{%  load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0,user-scalable=0"/>
    <title>Apjot .</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link href="https://fonts.googleapis.com/css2?family=Shadows+Into+Light&family=Kdam+Thmor+Pro&family=Open+Sans:wght@300;400;500&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Work+Sans:wght@800&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="{% static '/css/main.css' %}">
   
    <script src="https://kit.fontawesome.com/6077df5cfa.js" crossorigin="anonymous"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
</head>
    <body>
            <nav>
                <div class="logo"> <a href="{% url 'homepage'%}">  Apjot</a> </div>
                <div class="navlinks" id="navlinks"> 
                        
                        <a href="{% url 'homepage'%}"> Home</a>
                        <span hidden> <a id="pod" href="{% url 'podcastHome'%}" >Podcast <img src="../media/2.svg" alt="" width="15px" > </a> </span>
                        <a id="blog" href="{% url 'blogHome'%}">Blog</a>
                        <a href=" {% url 'about'%}">About</a>  
                </div>
                
                    {% if request.user.is_authenticated %}
                    <div class="authen">
                
                    
                        <form action="{% url 'logout'%}" class="logout" method="post" display="hidden">
                            {% csrf_token %}
                            <button type="submit" id="logoutBtn">logout</button>
                        </form>
                        
                        <p> <img src="../media/profile-user.png" alt="profile" class="user">{{user.username}}</p> 

                    </div>     
                    
                    {% endif %}     
                
        
                <div class="hamburger-lines" >
                    <i class="fa-solid fa-bars" style="font-size: 2em;" onclick="Toggle()" id="ham"></i>
                    <i class="fa-sharp fa-solid fa-xmark " style="font-size: 2.3em;" onclick="Toggle()" id="x"></i>
                </div> 
                    
                    
                        
                    
            </nav>
            
            
            <div class="wrapper">
                {% block content %}
                {% endblock %}
            </div>


        <footer>
                <br>
                
                <img src="https://img.icons8.com/external-dreamstale-lineal-dreamstale/32/undefined/external-up-arrows-dreamstale-lineal-dreamstale-3.png" onclick="topFunction()" id="myBtn" />
                <script  type="text/javascript" src="{% static 'style.js' %}"></script>
                <div class="navlinks"> 
                        
                    <a href="{% url 'homepage'%}"> Home</a>
                    <a id="pod" href="{% url 'podcastHome'%}">Podcast <img src="../media/2.svg" alt="" width="15px"> </a>
                    <a id="blog" href="{% url 'blogHome'%}">Blog</a>
                    <a href=" {% url 'about'%}">About</a>
                    

                
                </div> 
                
        </footer>
        <!-- Go to www.addthis.com/dashboard to customize your tools -->
<script type="text/javascript" src="//s7.addthis.com/js/300/addthis_widget.js#pubid=ra-6341aa238960643d"></script>

</body>
</html>

        
        
