{% extends 'main/base_layout.html' %}
{%  load static %}
{%block content%}
<style>
  .wrapper,nav{
    opacity: 0;
    transition: opacity 1s ease-in-out;

  }
  .preloader{
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: white;
  z-index: 9999;
  display: flex;
  justify-content: center;
  align-items: center;

  }
</style>

<link rel="stylesheet" type="text/css" href="{% static 'css/index.css' %}">
<div id="circle2"> </div> 


<header>
        <div class="hero">
              <p style="font-size: small; font-weight: 100;  padding-bottom: 10px; text-align: right;"> </p>
              <h1 class="hero-text" style="font-weight: 800; ">A  <br>  Public Journal <br> of  thoughts </h1>
              <span style="font-size: larger; font-weight: 100; border-bottom: 1px solid #000; padding-bottom: 10px;">Self growth through self exploration</span>
              <span style="font-size: small; font-weight: 200; border-bottom: 1px solid lightgray; padding-bottom: 10px; float: right;" id="heroSubscribe"> <a href="#subscribeToNewsletter"><i class="fa-solid fa-envelope"></i>  Subscribe to Newletter </a></span>
        </div>
        <div style="margin: auto;">
          <div class="circle" onclick="location.href='#values';" id="rotatetext">
            <div class="text"  style="font-weight:100 ;">
              <p> scroll. down. scroll. down  </p>
            </div> 
            <a href="#values"> <img src="https://img.icons8.com/ios-filled/35/null/chevron-down.png" alt="icon-arrow down"/></a>
          </div>
        </div>

</header>
           
<section  style="margin-block:2rem;padding-block: 1rem; background-color: whitesmoke;">
      <h3 class="section-title">Featured post <span style="font-size: 1.5rem;text-transform: initial; font-weight: 100;"> <a href="{% url 'blogHome'%}">See all Posts <i class="fa-solid fa-angle-right"></i> </a></span> </h3>
      <br>
      <div class="grid-container" >
          {% for article in articles %}
          
            <div class="grid-div {% if forloop.first %}span-two-rows{% endif %}" style="background-image: url('{{article.image.url}}');" onclick="window.location.href = '/blog/{{ article.slug }}';">
              <a href="{% url 'details' courseid=article.slug %}" >
                <div class="grid-text">
                  <h3 style="font-size: 1.3rem;"> {{article.title}}</h3>
                </div>
              </a>
            </div>
          {% endfor %}
      </div>
</section>

<script>
const gridDivs = document.querySelectorAll('.grid-div');
const circle2 = document.getElementById('circle2');

gridDivs.forEach((gridDiv) => {
  gridDiv.addEventListener('mouseover', () => {
    circle2.style.transform = 'translate(-50%, -50%)';
    circle2.style.width = '100px';
    circle2.style.height = '100px';
    circle2.style.backgroundColor = 'black';
    circle2.innerText = 'Read >';
  });

  gridDiv.addEventListener('mouseout', () => {
    circle2.style.transform = 'translate(-50%, -50%)';
    circle2.style.width = '30px';
    circle2.style.height = '30px';
    circle2.style.backgroundColor = 'transparent';
    circle2.innerText = '';
  });
});

 </script>

 <script>
      const text = document.querySelector(".text p");
      text.innerHTML = text.innerText.split('').map(
      (char, i) =>
        `<span style="transform:rotate(${i * 13.3}deg)">${char}</span>`
    ).join('');
  
    let sliderIndex = 1;
    let timeout;
    const layers = [...document.querySelectorAll('.layer')];
    const covers = [...document.querySelectorAll('.photo-frame')];
  
    function changeCoverAnimState(state = 0) {
      const st = state === 1 ? 'running' : 'paused';
      covers.forEach(cover => {
        cover.querySelector('.cover').style.width = `${state * 100}%`;
      });
    }
 </script>
 <script>
      let circle = document.getElementById('circle2');
    const onMouseMove = (e) => {
      circle.style.left = e.pageX + 'px';
      circle.style.top = e.pageY + 'px';
    }
    document.addEventListener('mousemove', onMouseMove);
 </script>

<script>
  window.addEventListener('load', function () {
    var preloader = document.querySelector('.preloader');
    var nav = document.querySelector('nav');
    var wrapper = document.querySelector('.wrapper');

    // Hide preloader after 2 seconds
    setTimeout(function () {
      preloader.style.display = 'none';
    }, 1500);

    // Smoothly transition body opacity from 0 to 1 over 3 seconds
    setTimeout(function () {
      nav.style.opacity = '1';
      wrapper.style.opacity = '1';
    }, 1500);
    });
</script>

</body>
</html>

  {%endblock%}
   
