{% extends 'main/base_layout.html' %}
 

{%block content%}
<script src="https://kit.fontawesome.com/6077df5cfa.js" crossorigin="anonymous"></script>

    <section class ="hero" > 
        <div class="hero-text "> <h1 id="head"> A Public Journal of Thoughts 	
            &#129042;<span class="tagline"> <strong> Self-growth through Self-Exploration</strong> </span> </h1> 
            
            <div id="roundbutton"> <span><a href="{% url 'about'%}"> About  &#8595; </a></span> <span> <a  href="{% url 'blogHome'%}">Blog &#129042;</a></span></div>
        </div>
        <a  href="{% url 'blogHome'%}">

        <div class="gridWrapper">
            
            <div class="box a" style="background: url('https://images.pexels.com/photos/57018/pexels-photo-57018.jpeg?auto=compress&cs=tinysrgb&w=600');">
                
            </div>
            <div class="box b" style="background: url('https://images.unsplash.com/photo-1488190211105-8b0e65b80b4e?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1170&q=80')">
            </div>
            <div class="box c" style="background: url('https://images.pexels.com/photos/112854/pexels-photo-112854.jpeg?auto=compress&cs=tinysrgb&w=600');">
               
            </div>
            <div class="box d" style="background: url('https://images.unsplash.com/photo-1589561253831-b8421dd58261?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxzZWFyY2h8NDR8fHdyaXRpbmd8ZW58MHx8MHx8&auto=format&fit=crop&w=500&q=60');">
            </div>
          </div>
      
        </section>
    </a>

     
<style>
 .infobox{
    font-size:24px;
    padding: 2%;
    border-block: 1px solid black;
 }
.recent_posts{
        display:none
    }
.hero{
    width:90%;
    margin:auto;
   
}

.hero #head{
    
    font-family: 'Work Sans', sans-serif;
    font-size: calc(2em + 5vw );
    margin: 2%;
    height:auto;
    animation-name: fade_left;
    animation-duration: 3s;

}
 #tag {
    font-size: 1.4em;
   background-color: #f5f5f5;
    line-height: 1.5em;
    margin-block: 50px;
    padding: 3%;

} 
#tag::before{
    content: '';
    border-left:1px solid red ;
    
    
}
h3{
    font-family: 'Kdam Thmor Pro', sans-serif;
    font-size: calc(3vw );
    margin:2%;
    height:auto;
    animation-name: fade_left;
    animation-duration: 3s;
    color: grey;
  
}
hr{
  border:  1px solid black
}
.gridWrapper{
    
    display: grid;
    grid-gap: 10px;
    grid-template-columns: 25% 25% 50%;
    background-color: #fff;
    width: 100%;
    margin:auto;
  }

  .box {
    background-color: #444;
    color: #fff;
    border-radius: 5px;
    padding: 20px;
    font-size: 150%;
    height: 300px;
    background-position: cover;
    background-position: center;


  }

  .a {
    grid-column: 1 / span 2;

  }
  .b {
    grid-column: 3 ;
    grid-row: 1 / span 2;
    height: 650px;
  }
  .c {
    grid-column: 1 ;
    grid-row: 2 ;
  }
  .d {
    grid-column: 2 ;
    grid-row: 2 ;
  }
  #roundbutton span{
    display: inline-block;
    width:150px;
    height: 150px;
    border-radius: 50%;
    border: 2px solid black;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: xx-large;
    margin: 10px
    
  }
  #roundbutton{
    display: flex;
    
  }
@media screen and (max-width:900px) {
.hero{
    width:100%;
    margin:auto;
  
    
}

.hero #head{

   margin:2% 5%;
   margin-top: 10%;
   height:auto;
   animation-name: fade_left;
   animation-duration: 3s;
   width:100%;
  

}
.hero #tag {
  
    font-family: 'Source Sans Pro', sans-serif;
    
    width: 90%;
    margin:auto;
  
}   

.hero-text{
    margin-bottom:12px;
    
}
.gridWrapper{
    
    display: block;
    grid-gap: 10px;
    grid-template-columns: 25% 25% 50%;
    background-color: #fff;
    width: 100%;
    margin:auto;
  }
  .b{
    height: 300px;
  }
}

</style>




  {%endblock%}
   
