{% extends 'main\base_layout.html' %}
{% block content %}

<div class="articles">
   
    
    <div class="article">
       
        <h1 id="title"> <a href="{% url 'details' courseid=article.slug %}"> {{ article.title }}  </a> </h1>
        <br>
        <p class="date"> {{article.date}} </p>
        <br>
        <br>
        <div class="article_image"><img src="{{ article.image.url }}" alt=" image" width="100%" > </div>
        <br>
        <br>
        <p> {{ article.body| safe}} </p>
        
        <br>
        <br>
        {% if user.is_authenticated %}

                <form action="{% url 'like_article' courseid=article.slug %}" method="post">
                    {% csrf_token %}
                <input type="hidden" name="article_id" value="{{ article.id }}" >   
                
                {% if user not in article.likes.all %}
                    <button type="submit"  style="background:transparent; border:none; color:transparent;"> <img src="../static/like.png" alt="image" width ="25px" > </button><strong> {{article.likes.all.count}}</strong>
                {% else %}
                    <button type="submit" style="background:transparent; border:none; color:transparent;"> <img src="../static/love.png" alt="image" width ="25px" > </button><strong> {{article.likes.all.count}}</strong>

                {% endif %}   
                </form>
        {% else %}
             <button onclick= "Verify()"  style="background:transparent; border:none; color:transparent;">  <img src="../static/like.png" alt="image" width ="25px"> </button>
             
             <p  style=" color:red;"><a href="{% url 'login'%}" id="likealert" style=" color:red;">  </a> </p>   
        {% endif %}
        
       <br>
        <br>
<p style="text-align:left; display: inline; color:red">       
{% if prevpost %} 
<a href="{{ prevpost.slug}}" class="detail_nav">&laquo; {{prevpost.title}}</a>
 {% else %}
 <a href="{% url 'blogHome'%}" class="detail_nav"> &laquo; Blog Home</a>
{% endif %}
</p>


<p style=" float:right; display: inline;" > 
{% if nextpost %}
<a href="{{ nextpost.slug}}" class="detail_nav"> {{nextpost.title}} <span>&raquo; </span> </a>
 {% else %}
 <a href="{% url 'blogHome'%}" class="detail_nav">Blog Home &raquo;</a>
{% endif %}
</p> 
    </div>

<br>
<br>   
    <div class="comment">  
        <h4 class="comments"> Comments ({{ article.comments.all.count }})  </h4><br>
        
        {% for comment in p %}
        <p id="comment_name"><img src="../media/profile-user.png" alt="profile" class="user" > 
            {{ comment.author}}                      
          </p> 
           <p class="comment_date"> {{ comment.date}}</p> 
           
        <p id="comment_text"> {{ comment.comment }}</p>
        
        <br>

        {% endfor %}
      
       <form action="{% url 'details' courseid=article.slug %}" method="post" id="commentform">
           {% csrf_token %}

           {{ comment_form.as_p }}
           {% if user.is_authenticated %}
           <input type="submit" value="send" class="btn41-43 btn-43">
           {% else %}
           <input type='button' value="Submit" class="btn41-43 btn-43" onclick="commentAlert()" >
           {% endif %}

       </form>
       <br>
       <p id="commentalert" style="color: red;"> </p>
      


     
    
    </div>
    <style>
.articles{
    width:50%;
    margin:auto;
    margin-top:20px;
    padding: 10%;
    padding-top: 2%;
    border:1px solid grey;
    font-family: 'Open Sans', sans-serif;
}
.comment{
    width: 90%;
    margin:auto;
   padding: auto;
    
}
.article_image{
   
    width: 50%;
    
    

}
.article .date{
    color:GREY;
    font-size: 14px;
}
.article #title{
    letter-spacing: 3px;
}
.comment_date{
    color:grey;
    font-size: 10px;
    margin-left: 15px;

}
#comment_text{
    font-size: 12px;
    margin-top: 5px;
    margin-left: 15px;
}
.name_field{
    width: 100%;
    padding:2%;
    margin-bottom:2%;
    font-family: 'Open Sans', sans-serif;
    border-radius: 10px;
    
}
.comment_name{
    font-size: 13;

}
.comment_field{
    width: 100%;
    padding:2%;
    margin-bottom:2%;
    font-family: 'Open Sans', sans-serif;
    border-radius: 10px;  
    height: 40px;

}
.detail_nav{
    color:blue
}
    </style>
    {{paginated_article}}
    {% endblock %}