{% extends 'main/base_layout.html' %}
{% block content %}
{%load static%}
{% block meta_description %}
<meta name="description" content="{{ article.meta_description }}">
{% endblock %}
{% block keywords %}
<meta name="keywords" content="{{ article.meta_keywords }}">
{% endblock %}
<article class="articles">
    <div class="article">
        <h1 id="title"> <a href="{% url 'details' courseid=article.slug %}"> {{ article.title }}  </a> </h1>
        <br>
        <p style="color:grey; font-size: 1.3rem;" > {{ article.tagline}}</p>
        <br>
        <p style="color: grey;"> By Nelson Fai </p>
        <p class="date"> {{article.date}} </p>
        <br>
        <br>
        <figure class="article_image" style="position: relative;"> 
            <img src="{{article.image.url}}" alt="{{ article.tagline}} image" style="position: absolute; object-fit: cover;object-position: center; width: 100%; height: 100%;">
            <figcaption> Apjot {{ article.tagline}} </figcaption>
        </figure>
          
        <br>
        <br>
        
        <div style="background-color: lightgray;color:black; padding: 1.3rem; font-weight: bold;">
            <p>Listen to Article <span id="duration" style="text-decoration: underline;"> </span> minutes </p>
            <div style="display: flex;gap: 1rem;" class="audioplay">
                <button type="button" onclick="textToAudio()" id="play" class="playbtn"><i class="fa-solid fa-play"></i></button> 
                <button type="button" onclick="pauseAudio()" id="pause" class="playbtn"><i class="fa-solid fa-pause"></i></button>
                <button type="button" onclick="playAudio()" id="resume" class="playbtn"> <img src="{% static 'icons8-resume-button-60.png' %}" alt="" width="20px"></button>  
                <button type="button" onclick="stopAudio()" id="stop" class="playbtn"><i class="fa-solid fa-stop"></i></button>
            </div>
        </div>
        <div class="articleBody" id="article_Body"> {{ article.body| safe}} </div>
          <form action="{% url 'like_article' courseid=article.slug %}" method="post" id="applaud">
                    {% csrf_token %}
                   <input type="hidden" name="article_id" value="{{ article.id }}" >   
                 <button type="submit"  style="background:transparent; border:none; font-size:1.3rem;margin-block: 20px; font-weight: thin;"> <img src="{% static 'like (1).gif' %}" alt="like" width="40px" style="top: 10px; position:relative; cursor: pointer;"> </button> <span id="applaudcount" style="font-size:1.4rem;">{{article.applaud}}</span>
                </form>
        <br>
                
    <!-- AddToAny BEGIN -->
<div class="a2a_kit a2a_kit_size_32 a2a_default_style">
    <a class="a2a_button_facebook"></a>
    <a class="a2a_button_twitter"></a>
    <a class="a2a_button_email"></a>
    <a class="a2a_button_whatsapp"></a>
    <a class="a2a_button_linkedin"></a>
    <a class="a2a_button_copy_link"></a>
    <a class="a2a_button_pinterest"></a>
    </div>
    <script async src="https://static.addtoany.com/menu/page.js"></script>
    <!-- AddToAny END -->
    <br>        

<div class="paginationNav" > 
    <div>
        {% if prevpost %} 
        <a href="{{ prevpost.slug}}" class="detail_nav">&laquo; Previous</a>
        {% else %}
        <a href="{% url 'blogHome'%}" class="detail_nav"> &laquo; Blog Home</a>
        {% endif %}
    </div>  
    <div style="text-align: right;">
        <p> 
            {% if nextpost %}
            <a href="{{ nextpost.slug}}" class="detail_nav"> Next &raquo; </a>
             {% else %}
             <a href="{% url 'blogHome'%}" class="detail_nav">Blog Home &raquo;</a>
            {% endif %}
        </p> 
    </div>   
</div>

</div>

<br>
<br>   
    <div class="comment" id="commentcontainer">  
        <h4 class="comments"> Comments ({{ article.comments.all.count }}) </h4><br>
        {% for comment in p %}
        <div class="comment_name">
            <div><i class="fa-solid fa-circle-user"></i>  </div>
            <div>{{comment.name|title}}</div>                      
        </div> 
           <div class="comment_date"> {{ comment.date}}</div> 
          <div id="comment_text"> {{ comment.comment }}</div>
        <br>
        {% endfor %}
    </div> 
       <form action="{% url 'details' courseid=article.slug %}" method="post" id="commentform" style="width:100%">
           {% csrf_token %}

           {{ comment_form.as_p }}
           {% if user.is_authenticated %}
           <input type="submit" value="send" class="submitbtn" style="width:100%">
           {% else %}
           <br>
           <input type="submit" value="send" class="submitbtn" style="width:100%">
           {% endif %}
       </form>
       <br>
       <p id="commentalert" style="color: red;"> </p>
 
</article>    
    <script>
    
      function getCookie(name) {
              let cookieValue = null;
              if (document.cookie && document.cookie !== "") {
                const cookies = document.cookie.split(";");
                for (let i = 0; i < cookies.length; i++) {
                  const cookie = cookies[i].trim();
                  // Does this cookie string begin with the name we want?
                  if (cookie.substring(0, name.length + 1) === (name + "=")) {
                    cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
                    break;
                  }
                }
              }
              return cookieValue;
            }
        let form = document.getElementById('commentform')
        let commentContainer = document.getElementById('commentcontainer')
        let applaud = document.getElementById('applaud')
        let applaudcount = document.getElementById('applaudcount')

        form.addEventListener('submit', stopReload)
        function stopReload(e){
        e.preventDefault()
          
          let commenter = document.createElement('div')
          
          
          $.ajax({
                type: "POST",
                url: "{% url 'details'   courseid=article.slug  %}",
                data: $("#commentform").serialize(),
                datatype: "json",
                  headers: {
                      "X-Requested-With": "XMLHttpRequest",
                      "X-CSRFToken": getCookie("csrftoken"),  
                    },
                success:function(data){
                    
                commenter.innerHTML =`<p id="comment_name"><img src="../media/profile-user.png" alt="profile" class="user" > 
                                        ${data.name}                  
                                        </p> 
                                        <p class="comment_date"> now </p> 
                                        <p id="comment_text"> ${data.comment} </p>
                                        <br>`
                    
                commentContainer.appendChild(commenter)
               
                form.reset()
                            }
                })
            }


        applaud.addEventListener('submit', applaudReload)
        function applaudReload(e){
        e.preventDefault()
          
          let commenter = document.createElement('div')
          
          
          $.ajax({
                type: "POST",
                url: "{% url 'like_article' courseid=article.id %}",
                data: $("#applaud").serialize(),
                datatype: "json",
                success:function(data){
                    
                    applaudcount.innerText = data.applaudcount
                            }
                })
            }
</script>

  

  
  <script>
    /* JS comes here */
    let speech = null; // Variable to store the speech synthesis object
  
    function textToAudio() {
      let msg = document.getElementById("article_Body").innerText;
      speech = new SpeechSynthesisUtterance();
      speech.lang = "en-US";
      speech.text = msg;
      speech.volume = 1;
      speech.rate = 0.9;
      speech.pitch = 1;
      speech.voiceURI = "Google US English Male";
      document.querySelectorAll('.playbtn').forEach( x => x.style.backgroundColor = "white",x.style.boxShadow='rgba(50, 50, 93, 0.25) 0px 6px 12px -2px, rgba(0, 0, 0, 0.3) 0px 3px 7px -3px')   
      document.getElementById('play').style.backgroundColor = "grey";
      window.speechSynthesis.speak(speech);
      
    }
  
    function pauseAudio() {
      if (speech && window.speechSynthesis.speaking) {
        window.speechSynthesis.pause();
        document.querySelectorAll('.playbtn').forEach( x => x.style.backgroundColor = "white",x.style.boxShadow='rgba(50, 50, 93, 0.25) 0px 6px 12px -2px, rgba(0, 0, 0, 0.3) 0px 3px 7px -3px')   
        document.getElementById('pause').style.backgroundColor = "grey";
        
      }
    }
  
    function playAudio() {
      if (speech && window.speechSynthesis.paused) {
        window.speechSynthesis.resume();
        document.querySelectorAll('.playbtn').forEach( x => x.style.backgroundColor = "white",x.style.boxShadow='rgba(50, 50, 93, 0.25) 0px 6px 12px -2px, rgba(0, 0, 0, 0.3) 0px 3px 7px -3px')   
        document.getElementById('resume').style.backgroundColor = "grey";

      } else if (!speech) {
        textToAudio();
      }
    }
  
    function stopAudio() {
      if (speech) {
        window.speechSynthesis.cancel();
        document.querySelectorAll('.playbtn').forEach( x => x.style.backgroundColor = "white",x.style.boxShadow='rgba(50, 50, 93, 0.25) 0px 6px 12px -2px, rgba(0, 0, 0, 0.3) 0px 3px 7px -3px')   
        document.getElementById('stop').style.backgroundColor = "grey";
        speech = null;
      }
    }
    function calculateReadingTime() {
    text = document.getElementById("article_Body").innerText;
    const wordsPerMinute = 150; // Average words per minute for English
    const wordCount = text.trim().split(/\s+/).length;
    const readingTime = wordCount / wordsPerMinute;
    const minutes = Math.ceil(readingTime);
    document.getElementById("duration").innerText = minutes
}
window.addEventListener("beforeunload", stopAudio);
window.addEventListener("load", calculateReadingTime);


</script>
  


<style>
.articles{
    width:80%;
    margin:auto;
    margin-top:20px;
    padding: 1rem;
    padding-top: 2%;
    max-width: 900px;
}
.comment{
    width: 100%;
    margin:auto;
   padding: auto;   
}
.article_image{
    width: 100%;
    height: 400px;
}
.article .date{
    color:GREY;
    font-size: 15px;
}
.article #title{
    letter-spacing: 3px;
    font-size: calc(1.6rem + 2vw);
    font-family: Times, serif;
}
.article li{
    margin-block: 1rem;
    list-style: inherit;
}
.articleBody h2 ,h3 ,h4, h5, h6,a {
    font-family: 'Times New Roman', Times, serif;
}
.articleBody a{
    text-decoration: underline;
}
.comment_name{
    display: flex;
    justify-items: flex-start;
    gap:5px
}
.comment_date{
    color:grey;
    font-size: small;
}

.name_field{
    width: 100%;
    padding:1rem;
    margin-bottom:2rem;
    font-family: 'Open Sans', sans-serif;
    
}
.submitbtn{
    width: 100%;
    padding: .6rem;
    border: none;
    background-color: rgba(0, 0, 0, 0.9);
    color: white;
    font-size: medium;

}
.comment_field{
    width: 100%;
    padding:1rem;
}
.detail_nav{
    font-weight: bold;
    display: inline-block;
    width: 50%;
}
.articleBody{
    line-height:1.8em;
    font-size: 1.2rem;  
}
q{
    font-weight: bold; 
    font-family: 'Times New Roman', Times, serif;  
    font-size: 1.5rem;   
}
q::before{
    content: "";
    border-left: 1px solid red;
    padding-left: 5%;
    margin-block: 10px;
}
.paginationNav{
    background-color: whitesmoke;
    padding: 1rem;
    display: flex;
    justify-content: space-between;
}
.paginationNav div{
    width: 50%;
}
.audioplay{
    margin-top: 1rem;
    background-color: lightgray;
}
.audioplay button{
border: none;
background-color: white;
height: 40px;
width: 40px;
border-radius: 50%;
color: black;
}
@media screen and (max-width:768px) {
    .articles{
    width:100%;
    padding:2rem ;
    margin:auto;   
}  
.article{
    width: 100%;
}   
.article_image{
    height: 300px;
}
.paginationNav{
    font-size: small;
}
}
</style>


    {% endblock %}
