{% extends 'main/base_layout.html' %}
{% block content %}
<div class="blogcontainer">
        <h1 class="page_title" hidden>Blog</h1>
        <div class="categorybtns" style="overflow-y: scroll;">
            <button class="btn_nav {% if active == 'All' %}active{% endif %}" style="min-width: 1rem;"> <a href="{% url 'blogHome' %}?category=All"><small> All</small> </a></button>
            {% for x,y in category.items %}
                <button class="btn_nav {% if active == x %}active{% endif %}"> <a href="{% url 'blogHome' %}?category={{x}}"> <small>{{y}}</small></a></button>
        {%endfor%}
        </div>

<div>
    {%if searched%}
        <h1 style="text-align: center;"> Your search result for {{ searched }}</h1>
        <br>
        <p style="text-align: center; color:grey;">{{count}} result found</p>
{%endif%}


</div>

        <div>
            <form action="{% url 'search' %}"  style="display: flex; width: 100%; margin: auto; padding: .6rem;margin-block: 1rem;" >
                <input type="text" name="searchterm" id="" placeholder="search Blog item" style="padding:.6rem;width: 100%;font-size: large;border:1px solid grey">
                <input type="submit" value="search" style="padding: .6rem; background-color: rgba(0, 0, 0, 0.865);color: white;border:none">
            </form>
        </div>
        {% if paginated_article %}
            
        {% else %}
        <p style="text-align: center; font-size: large;margin-top: 2rem;"> No item found</p>
        {%endif%}
        <ol class="article-list"> 
            {% for article in paginated_article %}
            <li> 
                <article>
                    {% if paginated_article %}
                        <span class="recentPost">{{ article.date|date:"d" }}<br>{{ article.date|date:"F" }}
                        </span>
                    {% endif %} 
                    <div class="article_image"  style=" background: url('{{article.image.url}}');background-position:center;
                    background-size:cover; background-repeat: no-repeat;">
                    </div>
                    <div class="article_element" >
                        <h2><a href="{% url 'details' courseid=article.slug %}" style="font-weight: 200;"> {{article.title|title}}</a></h2>

                    </div>      
                </article>
            </li>
            {% endfor %}
        </ol>
        <p style="text-align:center; background-color: whitesmoke;padding: 1rem; max-width: 850px; margin: auto;"> Page  {{paginated_article.number}} of  {{ paginated_article.paginator.num_pages }} </p>  

        <div class="paginationNav"> 

                    {% if paginated_article.has_previous %}
                            <span style="float:left;"> 
                                    <a href="?page=1"> &laquo; First </a>
                                    <a href="?page={{paginated_article.previous_page_number}}"> Previous</a>
                            </span >    
                    {% endif %}

                    {% if paginated_article.has_next %}
                            <span style=" float:right;" >
                                <a href="?page={{ paginated_article.next_page_number }}" >Next <span> &raquo; </span> </a>
                            </span>
                    {% endif%}
        </div>
</div>

<style >
        body{
       max-width:1800px;
        }
                
.active{
    background-color: black !important;
}
.active a{
    color: white;
}
    h2{
    font-size: calc(1.5rem);
    margin-bottom: 5px;
    font-family: Times, serif;
}
    .article-list{        
        margin: 3rem auto ;
        position: relative;
        padding-block: 2rem;
        display: grid;
        grid-template-columns: repeat(auto-fill, minmax(400px, 1fr);
        gap: 20px;  
        width: 100%;
            max-width:1800px;

        
    }
       .article-list li{        
        margin:auto ;
    } 
    .page_title{
        text-align: center;
        padding: 5%;
        margin-bottom: 10px;
        font-size: calc(30px + 3vw);   
    }
    article{
        display: flex;
        justify-content: space-between;
        flex-direction: column;
        font-size: 1.1rem;   
        margin-bottom: 1rem;
        width: 400px;
        box-shadow: rgba(0, 0, 0, 0.1) 0px 0px 5px 0px, rgba(0, 0, 0, 0.1) 0px 0px 1px 0px;
    }
    article p{
        line-height: 1.6rem;
    }
    .article_element{
        padding:1rem;
        height: 200px;
            overflow:hidden;
    }
    .article_image{
        width:100%;
        min-height: 250px;
    }
   
    .recentPost{
        padding:7px 10px;
        letter-spacing: 6px;
        position: absolute;
        z-index: 2;
        background-color: rgba(0, 0, 0, 0.9);
        margin-left: 0px;
        color: white;
        font-size: small;
        line-height: 0.8rem;
    }    
    button#readmore{
    width: 100%;
        color: black; 
        padding:0.6em 2em;
        text-align: center;
        text-decoration: none;
        display: inline-block;
        font-size: 1rem;
        transition-duration: 0.4s;
        cursor: pointer;
        border: 1.5px solid black;
        background-color: white;
    }
    button#readmore:hover {
      color: white;
      background-color: black;
      transition-duration: 1s;
    }
    #search_btn{
        margin-bottom: -10px;
    }
    .search{
        float:right;
        margin-top:10px
    }
    .search input{
        padding: 5px;
    }
    .btn_nav{
        border: 1px solid black ;
        padding: 0.3rem 1.4rem;
        font-size: medium;
        background-color: white;
        border-radius: 3px;
        min-width: 270px;
    }
    .categorybtns{
        margin-bottom: 2rem;
        margin: auto;
        display: flex;
        gap: 1rem;
        padding: 1rem;
    }
    .activebutton{
        background-color: black;
        color: white;

    }
    .paginationNav{
    background-color: whitesmoke;
    padding: 1rem;
    display: flex;
    justify-content: space-between;
    width: 100%;
    max-width: 850px;
    margin: auto;
}
.paginationNav div{
    width: 50%;
}
    @media  screen and (max-width: 700px) {
    .article-list{
        display: block;
        width: 100%;
   
        margin: 0;

        }
    article{
        width: 100%;
        height: 600px;
    }
    }
    </style>
{% endblock %}
