/* SECTION grid Homepage ------------------------------------------ */

.grid-container {
    display: grid;
    grid-template-columns: 1fr 1fr ;
    min-height: 100vh;
    grid-gap: 10px;
    background-color: #000;
    padding: 10px;

  }
  .grid-div {
    background-color: rgba(255, 255, 255, 0.8);
    text-align: center;
    padding: 20px 0;
    font-size: 30px;
    position: relative;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
  }
  .span-two-rows {
    grid-row: 1 / span 2;

  }

  .grid-text {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.8); /* Black with 80% opacity */
    color: white;
    padding: 10px;
    font-size: small;
  }
  .grid-text p:first-child {
    font-weight: bold;
    margin-bottom: 5px;
  }
  .circle{
      position:relative;
      width: 200px;
      height: 200px;
      margin: 0  auto;
      border-radius:50%;
      display: flex;
      justify-content: center;
      align-items: center;
      font-weight: bolder;
      cursor: pointer;
  }
  .text{
      width: 100%;
      height: 100%;
      position: absolute;
      animation: rotate 10s linear infinite;
      font-size: medium;
  }
  .text span{
    position: absolute;
    left:50%;
    transform-origin:0 100px;
  }
  .section-title{
    font-size: 4rem;
    margin-top: 3rem;
    padding: 1rem 2rem;
    text-transform:uppercase
  }

  /* SECTION grid HomepageEnd ------------------------------------------ */
@media screen and (max-width:768px) {
    .grid-container {
        display: block;
        background-color: white;
    }
    .grid-div{
        min-height: 400px;margin-bottom: 1rem;
    }
    .section-title{
        font-size: 2rem;
    }
    .circle{
        margin-top: 2rem;
    }
    .hero-text{
        margin-top: 0;
    }

    
}